@import '@/styles/shared.scss';

.header {
  width: 100%;
  padding: 0.5rem 2rem;

  &__nav {
    @extend %between;
  }

  &__logo {
    @extend %align;

    img {
      max-width: 200px;
    }

    h1 {
      @extend %sr-only;
    }
  }

  &__controls {
    @extend %align;
    margin-right: 0.8rem;
    font-weight: bold;

    span:last-child {
      padding-left: 0.4rem;
      line-height: 1;
    }

    &:hover {
      span:last-child {
        text-decoration: underline;
      }
    }
  }
}
