@import '@/styles/shared.scss';

.header {
  width: 100%;
  padding: 0.5rem 2rem;

  &__nav {
    @extend %between;
  }

  &__logo {
    @extend %align;

    img {
      max-width: 200px;
    }

    h1 {
      font-size: 0;
    }
  }

  &__controls {
    @extend %align;
    margin-right: 0.8rem;
  }
}
