%title-40 {
  font-size: 4rem;
  line-height: 1;
  font-weight: bold;
}

%title-24 {
  font-size: 2.4rem;
  line-height: 1;
  font-weight: bold;
}

%desc-20 {
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
}

%desc-18 {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: bold;
}
